@tailwind base;
@tailwind components;
@tailwind utilities;


body{
    overflow: hidden;
    background: linear-gradient(135deg, #6B73FF 0%, #000DFF 100%), #F6F9FF;
}
.bg-global{
    background: linear-gradient(135deg, #6B73FF 0%, #000DFF 100%), #F6F9FF;
}
.pad-shadow{
    box-shadow:0 35px 20px -25px rgba(107, 115, 255, 1)
}